*, ::after, ::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px;
  margin : 0px;
}
:root {
  --main-color : #2196F3;
  --main-color-alt : #1787e0;
  --main-trans : 0.3s;
  --item-fill : #FAFAFA;
  --main-padding: 100px;
  --sub-title : #777;
  --section-bg : #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif
}
ul {
  list-style: none;
  padding: 0px;
  margin : 0px;
}
a {
  text-decoration: none !important;
  transition: var(--main-trans);
  -webkit-transition: var(--main-trans);
  -moz-transition: var(--main-trans);
  -ms-transition: var(--main-trans);
  -o-transition: var(--main-trans);
}
a:hover {
  color: #fff !important
}
input:focus,
textarea:focus  {
  outline: none;
}


/* -- Start Header --- */
nav ul.right {
  display: flex;
  align-items: center;
}
nav .p-logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  font-weight: 500;
}
/* -- End Header --- */