*, ::after, ::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px;
  margin : 0px;
}
:root {
  --main-color : #ec407a;
  --main-trans : 0.3s;
  --item-fill : #FAFAFA;
  --main-padding: 100px;
  --sub-title : #777;
  --section-bg : #ececec;
}
html {
  scroll-behavior: smooth;
  min-height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../src/assets/mario-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #95e8f3 !important;
  min-height: 100%;
  /* position: ; */
}
ul {
  list-style: none;
  padding: 0px;
  margin : 0px;
}
a {
  text-decoration: none !important;
  transition: var(--main-trans);
  -webkit-transition: var(--main-trans);
  -moz-transition: var(--main-trans);
  -ms-transition: var(--main-trans);
  -o-transition: var(--main-trans);
}
a:hover {
  color: #fff !important
}
input:focus,
textarea:focus  {
  outline: none;
}

.sec-padd {
  padding: 100px 0;
}
.page-head {
  font-size: 35px;
  font-weight: 700;
  position: relative;
  width: fit-content;
  margin-bottom: 40px;
}
.page-head::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 4px;
  bottom: -10px;
  left: 0;
  background-color: var(--main-color);
}
form {
  padding: 30px;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: var(--main-color);
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: var(--main-color) !important;
}
/* -- Start Header --- */
nav {
  color: #fff;
  width: 100% !important;
  height: auto !important;
  background-color: #333;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  position: relative;
  height: 72.75px !important;
}
nav .navbar-logo{
  color: #fff !important;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
.navbar-logo:focus, .navbar-logo:hover {
  color: #fff!important
}
nav ul.right {
  display: flex;
  align-items: center;
}
nav .p-logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  font-weight: 500;
  margin-left: 15px;
  padding: 0;
  color: #fff;
}
nav .nav-link {
  color: #fff !important;
  font-weight: 500;
  font-size: 17px;
  padding: 0 15px !important;
  height: 72.75px;
  line-height: 72.75px;
}
nav .nav-link:hover,
nav .navbar-nav .nav-link.active {
  background: #555;
}
nav .navbar-toggler {
  margin-left: auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  margin-right: 10px;
  width: 43px;
}
nav .bag-toggle {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar-toggler {
  border: none;
  background-color: transparent !important;
}
nav .icon-toggler {
  font-size: 25px;
  color: #fff
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0 !important;
  box-shadow: 0 0 0 !important;
}

.toggle-switch {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
/* -- End Header --- */

/* --- Start SignIn --- */
.sign-page form .input-field {
  margin-bottom: 40px;
}
.sign-page form .input-field button{
  width: 100px;
  height: 40px;
  font-weight: 700;
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
.sign-page form .input-field button:hover,
.sign-page form .input-field button:focus {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
/* --- End SignIn --- */

/* -- Start List --- */
.dashboard {
  padding: 60px 0
}
.project-list .card {
  border-color: transparent;
}
.project-list .pro-card .card-tit {
  font-size: 35px;
  font-weight: 400;
}
.project-list .pro-card .name {
  font-size: 20px;
  margin-top: 14px;
}
.project-list .pro-card .info {
  display: block;
  margin-top: 15px;
  width: 120px;
  position: relative;
  margin-left: calc(100% - 120px);
  background-color: #447288 !important;
  border-color: #447288 !important;
}
.project-list .pro-card .info:hover,
.project-list .pro-card .info:focus {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.project-list .close-pro {
  position: absolute;
    top: 15px;
    right: 15px;
    background: var(--main-color);
    color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 18px;
}
/* -- End List --- */

/* --- Single Details --- */
.project-details {
  height: calc(100vh - 72.75px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .project-details .card{
    width: 90%;
    padding: 50px 30px;
  }
}
@media (max-width: 991px) {
  .project-details .card{
    width: 100%;
    padding: 50px 30px;
  }
}
@media (max-width: 560px) {
  .project-details .card {
    padding: 20px !important;
  }
  .project-details .card-title {
    font-size: 30px !important;
  }
  .project-details .pro-content {
    font-size: 18px !important;  
  }
}
@media (max-width: 440px) {
  .project-details .pro-content {
    font-size: 14px !important;  
  }
}

.project-details .card-title {
  font-size: 40px;
  margin-bottom: 25px !important;
  font-weight: 600;
  text-transform: capitalize;
  color: #333;
}
.project-details .pro-content {
  font-size: 20px;
  color: #777;
  line-height: 1.7;
}
/* --- Single Details --- */



/* Media */

@media (max-width: 991px) {
  nav .navbar-collapse {
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background: rgb(0 0 0 / 65%);
    padding: 0px;
  }
  nav .nav-link {
    text-align: center;
  }
  nav .nav-link:hover {
    background: #3f3f3f;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .notifications {
    position: absolute;
    width: 450px;
    right: 0;
    top: 0;
    transition: .3s;
    transform: scaleY(0);
    transform-origin: top right;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  .notifications .pro-card {
    margin: 0;
  }
  .main-content {
    flex-direction: column-reverse;
  }
}

.icon-note {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
@media (max-width: 991px) {
  .icon-note {
    display: block;
  }
}

.noti-block {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}
.noti-color {
  color: #e9dadf
}
.empty-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 104px 0 0;
}
.empty-notes img{
  width: 200px;
}
.empty-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.empty-page img{
  max-width: 100%;
}
.counter {
  background: #ffc107 !important;
  position: absolute;
  top: 30px;
  right: -15px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  border-radius: 50%;
  z-index: 10;
}

@media (max-width: 557px) {
    .notifications {
      width: 100%;
  }
  .project-list .pro-card .card-tit {
    font-size: 35px;
    font-weight: 400;
    margin-top: 25px;
    display: inline-block;
  }
}

.hiddendiv {
  display: none !important;
}